<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css" integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.css" integrity="sha512-n70Ch6Ee+tQZeUNLfwxkT85Hzr1vewp+npJBTcwSWjrkiYWy1ZXL5QSwCNJeJS3yjChsdogcCauQmEAQsok+Kw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Recipes</title>
    <style>
        * {
            padding:0;
            margin: 0;
            box-sizing: border-box; 
        }

        html {
            font-size: 62.5%;
        
        }
        body{
            font: size 1.6rem;
        }
    </style>
</head>